======= Exception Handler =======

いつも弊社のサービスをご利用いただきありがとうございます。

ご利用中のサービス $serviceName にて
$exceptionName を検知致しました。

以下 Exceptionの内容となります。

$exceptionInfo

ご対応よろしくお願い致します。

=============================